@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300&display=swap');

.header-logo{

    height: 100px;
    width: 100px;


}

.brand-logo{
display: flex;
}

.brand-title{
text-decoration: none;

}

a:visited {color:black;} 
.header-container{
    display: flex;

    justify-content: space-between;
/* row-gap: 10%; */
    flex-wrap: wrap;
    width: 100%;
    align-items: center;


    
    /* background-color:rgba(229, 206, 164, 0.846) */

}


.header-title{
    font-family: 'Pacifico', cursive;
    font-weight: 70;
    /* flex-shrink: 1; */
    /* color: rgb(197, 90, 13); */
    /* color: rgb(238, 162, 57); */

    


}
form.search-bar {
    width: 55%;
    height: 30%;
    border: none;
    /* display: inline; */

    
    /* flex-shrink: 4; */

  }
  
  input.search-bar {
    width: 70%;
 
    border-radius: 25px;
    border: 1px solid #555;
    /* display: block; */
    padding: 9px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  }

.header-menu{
    display: flex;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    /* flex-shrink: 4; */


}

.nav-item{
    list-style: none;
}
.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
  }
  
  .nav-item:hover {
    background-color: white;
  }
  
  .nav-item:hover a {
    color: rgb(238, 162, 57);
  }